@import "../../App.scss";

.portfolio {
  min-height: 80vh;
  max-width: 1120px;
  margin: auto;
  padding-bottom: 40px;
  h1 {
    font-size: 2.5em;
    color: $primary-color-blue;
    text-align: center;
    transform: translate(0px, -60px);
  }
  margin: auto;
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.project-app {
  max-width: 480px;
  width: 100%;
  margin: 10px;
  position: relative;
  transition: all 0.3s linear;
  height: 270px;
  overflow: hidden;
  img {
    width: 100%;
    min-width: 240px;
  }
  .learn {
    border-radius: 50px;
    color: white;
    background: dodgerblue;
    padding: 5px 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    opacity: 0;
    outline: none;
    border: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    & .learn {
      opacity: 1;
    }
  }
}
