@import "../../App.scss";
.landing {
  background: whitesmoke;
  height: 100vh;
  min-height: 520px;
  position: relative;
}

.background-bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0px;
}

.welcome {
  text-align: center;
  padding-top: 70px;
  h1 {
    color: $primary-color-blue;
    font-weight: bold;
    font-size: calc(32px + (64 - 32) * ((100vw - 320px) / (1600 - 320)));
    padding: 0.5rem 2rem;
  }

  h2 {
    color: $primary-color-blue;
    padding: 0.5rem 2rem;
    font-size: calc(16px + (32 - 16) * ((100vw - 320px) / (1600 - 320)));
  }
}
.contact-icons {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .contact-icon {
    margin: 0 0.5rem;
    width: 70px;
    height: auto;
    transition: 0.15s transform ease-in;
    border: 2px solid $primary-color-blue;
    border-radius: 50%;
    &:hover {
      transform: scale(1.3);
    }
  }
}
