$primary-color-green: rgb(250, 254, 255);
$primary-color-blue: #013870;
$accent: #00ff00;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.underline {
  border-top: 5px $accent solid;
  width: 100px;
  text-align: center;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
}

h1 {
  font-family: "Fira Sans", sans-serif;
}

* {
  font-family: "Athiti", sans-serif;
}
